/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ITMmalaria/plasmovar Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                      = null
    strict_lane_detection      = true
    strict_flowcell_detection  = true

    // Reference genomes
    // TODO: allow list of references (and indices) instead of a single one, or use the ones described in samplesheet
    // TODO: automatically download appropriate references
    // Options for lists of input parameters
    // https://github.com/nf-core/sarek/issues/2097#issuecomment-3767320653
    // bbsplit fasta list https://nf-co.re/rnaseq/3.14.0/parameters/#read-filtering-options
    // https://github.com/nextflow-io/nextflow/issues/129
    // https://github.com/nextflow-io/nextflow/discussions/2821
    // foo                        = '/home/pmoris/itg/mweseq/data/ref/Pf3D7_01_v3.fa.gz,GRCh38.chr21.fa.gz'
    reference_fasta            = null
    reference_index            = null
    save_index                 = true
    reference_bed              = null
    // TODO: rename to regions/intervals/scatter + take into account padding, optionally with targeted-sequencing or panel flag?
    // TODO add general parallellize/scatter/interval toggle?
    // TODO: add WGS vs targeted panel mode or infer from supplied regions bed file
    // => should add padding around supplied intervals
    // https://gatk.broadinstitute.org/hc/en-us/articles/360035531852-Intervals-and-interval-lists
    // https://gatk.broadinstitute.org/hc/en-us/articles/4409917392155-IntervalListTools-Picard
    // 500 bp pf8
    // 100 gatk

    // Skipping and order of execution options
    skip_qc                     = false
    skip_trimming               = false
    skip_fastqscreen            = false
    skip_hostremoval            = false
    skip_alignment              = false
    skip_variantcalling         = false
    skip_annotation             = false
    only_index_reference        = false
    only_hostremoval            = false
    only_fastqscreen            = false
    trimming_before_hostremoval = true

    // Read trimming options
    // TODO: decide if certain fastp options should be hard-coded in modules.config or if all custom options should be supplied via extra_args
    fastp_save_trimmed              = false
    fastp_save_merged               = false // see: https://github.com/OpenGene/fastp#merge-paired-end-reads
    fastp_save_trimmed_fail         = false // see: https://github.com/OpenGene/fastp?tab=readme-ov-file#store-the-reads-that-fail-the-filters
    fastp_adapter_fasta             = null  // optional value, fastp will automatically detect adapters if not provided
    fastp_adapter_sequence          = null  // optional value to specify adapter for read 1
    fastp_adapter_sequence_r2       = null  // optional value to specify adapter for read 2
    // internal fastp options: defaults are set here, but can be overwritten.
    // Note that some values could be hard-coded in the ext.args directive of modules.config
    fastp_overrepresentation        = false // default disabled
    fastp_trim_poly_g               = true // technically redundant, since it should be enabled by default for nextseq/novaseq data // TODO: is true the safest choice here? See commit message about "Change fastp behaviour when not setting trim_poly_g"
    fastp_qualified_quality_phred   = null  // fastp default Q15>=, alternatively use 20 (~1% error) or 30 (.1%)
    fastp_unqualified_percent_limit = null  // fastp defaults to 40%
    fastp_length_required           = null  // default disabled
    fastp_cut_front                 = false // default disabled, ~trimmomatic LEADING
    fastp_cut_tail                  = false // default disabled, ~trimmomatic TRAILING
    fastp_cut_right                 = false // default disabled, ~trimmomatic SLIDINGWINDOW
    fastp_disable_adapter_trimming  = false // default disabled, i.e. adapter trimming is performed
    fastp_extra_args                = null

    // FastQ Screen options
    fastqscreen_fastas              = null
    fastqscreen_save_index          = false
    fastqscreen_index_dir           = null

    // Host read removal options
    hostremoval_method                 = 'deacon'
    hostremoval_reference              = null
    hostremoval_save_filtered          = false
    hostremoval_save_index             = false
    hostremoval_deacon_index           = null
    hostremoval_deacon_diff            = true
    hostremoval_deacon_abs_threshold   = null   // defaults to deacon's built-in default value 2
    hostremoval_bbsplit_reference_name = 'human'
    hostremoval_bbsplit_ambiguous2     = 'all'
    hostremoval_bbsplit_index          = null

    // Alignment options
    save_bam_initial                   = false
    save_bam                           = false
    sort_fastq                         = false

    // FastQ Screen
    // --fastqscreen_species =
    // cf. reference genome list

    // GATK read group options
    seq_center                 = null       // Optional center for GATK read group CN field
    seq_platform               = 'ILLUMINA' // Default platform for GATK read group PL field

    // GATK IntervalList options
    scatter_count              = 10         // Max number of files into which to scatter the intervals
    save_interval_scatter      = false      // Save scattered interval lists for debugging purposes

    // GATK BQSR parameters
    run_bqsr                        = false // Set to true to enable BQSR
    bqsr_known_sites_vcf            = null  // Path to VCF of known sites for BQSR
    bqsr_known_sites_tbi            = null  // Path to VCF index of known sites for BQSR
    bqsr_scatter                    = true  // Whether to run BaseRecalibrator in scatter-gather mode or on entire bam files - can avoid problems when known sites vcf contains fewer intervals/regions
    // TODO interval_list as alternative to bed? Cf. reference_bed
    bqsr_bed                        = null  // Alternative intervals to use during BQSR, separate from other GATK steps - bed
    save_bqsr_bam                   = false

    // GATK variant calling options
    save_genomicsdb            = false
    save_gvcf                  = false
    save_intermediate_vcf      = false
    include_non_variant_sites  = true   // = -all-sites option for GenotypeGVCFs

    // Variant filtering options
    vcf_filter_mode              = 'hard'

    // Hard filtering thresholds
    //
    // Defaults were based on a consensus of GATK recommendations (since not all of their
    // articles provide the same guidelines), what is used in the AmpliSeq pipeline
    // by E. Kattenberg (https://github.com/Ekattenberg/Plasmodium-AmpliSeq-Pipeline)
    // and found in various tutorials:
    // - https://gatk.broadinstitute.org/hc/en-us/articles/360037499012-I-am-unable-to-use-VQSR-recalibration-to-filter-variants
    // - https://gatk.broadinstitute.org/hc/en-us/articles/360035890471-Hard-filtering-germline-short-variants
    // - https://gatk.broadinstitute.org/hc/en-us/articles/360035531112--How-to-Filter-variants-either-with-VQSR-or-by-hard-filtering
    // - https://sites.google.com/a/broadinstitute.org/legacy-gatk-documentation/methods-and-algorithms/6925-Understanding-and-adapting-the-generic-hardfiltering-recommendations
    // - https://sib-swiss.github.io/NGS-variants-training/2021.9/day2/filtering_evaluation/
    // - Kattenberg JH, Fernandez-Miñope C, van Dijk NJ, Llacsahuanga Allcca L, Guetens P, Valdivia HO, Van Geertruyden JP, Rovira-Vallbona E, Monsieurs P, Delgado-Ratto C, Gamboa D, Rosanas-Urgell A. (2021) Malaria molecular surveillance in the Peruvian Amazon with novel highly multiplexed Plasmodium falciparum Ampliseq assay. medRxiv https://doi.org/10.1101/2021.11.12.21266245
    // - Kattenberg JH, Nguyen HV, Nguyen HL, Sauve E, Nguyen NTH, Chopo-Pizarro A, Trimarsanto H, Monsieurs P, Guetens P, Nguyen XX, Esbroeck MV, Auburn S, Nguyen BTH and Rosanas-Urgell A (2022) Novel highly-multiplexed AmpliSeq targeted assay for Plasmodium vivax genetic surveillance use cases at multiple geographical scales. Front. Cell. Infect. Microbiol. 12:953187. https://doi.org/10.3389/fcimb.2022.953187
    // QUAL is not recommended by some GATK articles, but is mentioned by others. Defaulting to leaving it out, since QD should cover it (QD > QUAL / DP).
    // Caveats about hard filtering apply:
    // > For shallow-coverage (<10x), it is virtually impossible to use manual filtering to reliably separate true positives from false positives.
    // You really, really, really should use the protocol involving variant quality score recalibration.
    // If you can't do that, maybe you need to take a long hard look at your experimental design. In any case you're probably in for a world of pain.

    // SNP variant hard filtering options
    vcf_filter_snp_QD_filter              = 'QD < 2.0'
    vcf_filter_snp_QD_name                = 'QD-2'
    vcf_filter_snp_QUAL_filter            = ''  // 'QUAL < 30.0'
    vcf_filter_snp_QUAL_name              = ''  // 'QUAL-30'
    vcf_filter_snp_FS_filter              = 'FS > 60.0'
    vcf_filter_snp_FS_name                = 'FS+60'
    vcf_filter_snp_ReadPosRankSum_filter  = 'ReadPosRankSum < -8.0'
    vcf_filter_snp_ReadPosRankSum_name    = 'ReadPosRankSum-8'
    vcf_filter_snp_SOR_filter             = 'SOR > 3.0'
    vcf_filter_snp_SOR_name               = 'StrandOddsRatio+3'
    vcf_filter_snp_MQ_filter              = 'MQ < 40.0'
    vcf_filter_snp_MQ_name                = 'MQ-40'
    vcf_filter_snp_MQRankSum_filter       = 'MQRankSum < -12.5'
    vcf_filter_snp_MQRankSum_name         = 'MQRankSum-12.5'

    // INDEL variant hard filtering options
    vcf_filter_indel_QD_filter              = 'QD < 2.0'
    vcf_filter_indel_QD_name                = 'QD-2'
    vcf_filter_indel_QUAL_filter            = ''    // 'QUAL < 30.0'
    vcf_filter_indel_QUAL_name              = ''    // 'QUAL-30'
    vcf_filter_indel_FS_filter              = 'FS > 200.0'
    vcf_filter_indel_FS_name                = 'FS+200'
    vcf_filter_indel_ReadPosRankSum_filter  = 'ReadPosRankSum < -20.0'
    vcf_filter_indel_ReadPosRankSum_name    = 'ReadPosRankSum-20'
    vcf_filter_indel_SOR_filter             = 'SOR > 10.0'
    vcf_filter_indel_SOR_name               = 'StrandOddsRatio+10'
    vcf_filter_indel_InbreedingCoeff_filter = 'InbreedingCoeff < -0.8'
    vcf_filter_indel_InbreedingCoeff_name   = 'InbreedingCoeff-0.8'

    // GATK VQSR options
    // Default options were based on MalariaGEN Pf8 pipeline: https://github.com/malariagen/malariagen-pf8-snp-indel-calling/blob/master/methods.config
    // More info available here: https://github.com/broadgsa/gatk/blob/master/doc_archive/tutorials/(howto)_Recalibrate_variant_quality_scores_=_run_VQSR.md
    vqsr_snp_resource_vcfs = ''
    vqsr_snp_resource_labels = ''
    vqsr_indel_resource_vcfs = ''
    vqsr_indel_resource_labels = ''
    // E.g., ['/absolute/path/to/7g8_gb4.combined.final.vcf.gz','/absolute/path/to/hb3_dd2.combined.final.vcf.gz','/absolute/path/to/3d7_hb3.combined.final.vcf.gz',]
    // E.g., ['--resource:7g8_gb4,known=false,training=true,truth=true,prior=15.0','--resource:hb3_dd2,known=false,training=true,truth=true,prior=15.0','--resource:3d7_hb3,known=false,training=true,truth=true,prior=15.0',]
    vqsr_snp_tranches = '-tranche 100.0 -tranche 99.95 -tranche 99.9 -tranche 99.8 -tranche 99.6 -tranche 99.5 -tranche 99.4 -tranche 99.3 -tranche 99.0 -tranche 98.0 -tranche 97.0 -tranche 90.0'
    vqsr_indel_tranches = '-tranche 100.0 -tranche 99.95 -tranche 99.9 -tranche 99.8 -tranche 99.6 -tranche 99.5 -tranche 99.4 -tranche 99.3 -tranche 99.0 -tranche 98.0 -tranche 97.0 -tranche 90.0'
    // TODO: consider reducing number of tranches to  '-tranche 100.0 -tranche 99.95 -tranche 99.9 -tranche 99.5 -tranche 99.0 -tranche 95.0 -tranche 90.0'
    vqsr_snp_annotations = '-an QD -an FS -an SOR -an MQRankSum -an ReadPosRankSum' // in case of zero variance, simplify to e.g. '-an QD -an SOR'
    vqsr_indel_annotations = '-an QD -an FS -an SOR -an ReadPosRankSum'
    vqsr_snp_max_gaussians = ''     // GATK defaults to 8
    vqsr_indel_max_gaussians = ''   // GATK defaults to 8
    // ApplyVQSR options
    vqsr_snp_truth_sensitivity_filter_level = 99.5
    vqsr_indel_truth_sensitivity_filter_level = 99.5

    // snpEff variant annotation options
    reference_annotation       = null
    annotation_format          = null
    reference_cds              = null
    reference_protein          = null
    save_snpeff_db             = false

    // MultiQC options
    multiqc_config             = null
    multiqc_title              = null
    multiqc_logo               = null
    max_multiqc_email_size     = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    monochrome_logs              = false
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true
}

// Backwards compatibility for publishDir syntax
outputDir = params.outdir
workflow.output.mode = params.publish_dir_mode

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        // TODO https://github.com/nf-core/modules/issues/6694
        // For now if you're using arm64 you have to use wave for the sake of the maintainers
        // wave profile
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load ITMmalaria/plasmovar custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"


// Load ITMmalaria/plasmovar custom profiles from different institutions.
// nf-core: Optionally, you can add a pipeline-specific nf-core config at https://github.com/nf-core/configs
// includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/plasmovar.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'ITMmalaria/plasmovar'
    contributors    = [
        [
            name: 'Pieter Moris',
            affiliation: 'Institute of Tropical Medicine Antwerp',
            email: 'pmoris@itg.be',
            github: 'pmoris',
            contribution: ['author'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: 'https://orcid.org/0000-0003-4242-4939'
        ],
    ]
    homePage        = 'https://github.com/ITMmalaria/plasmovar'
    description     = """A short-read variant calling pipeline for malaria molecular surveillance"""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.10.4'
    version         = '0.3.0'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.5.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
}
// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
