/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SAMTOOLS_FAIDX' {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null },
            enabled: true,
        ]
    }

    withName: 'CREATE_INTERVALS_BED' {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null },
            enabled: true,
        ]
    }

    //
    // QC and read trimming
    //

    withName: 'FASTQC.*' {
        ext.args = '--quiet'
        ext.prefix = {
            // add suffix to differentiate between files for multiqc report
            task.process.contains('TRIMMED') ? "${meta.id}_trimmed" :
            task.process.contains('DECONTAMINATED') ? "${meta.id}_hostremoved" : "${meta.id}_raw"
        }
        publishDir = [
            path: {
                def subdir
                if (task.process.contains('TRIMMED')) {
                    subdir = 'trimmed'
                } else if (task.process.contains('DECONTAMINATED')) {
                    subdir = 'hostremoved'
                } else {
                    subdir = 'raw'
                }
                "${params.outdir}/fastqc/${subdir}"
            },
            mode: params.publish_dir_mode,
        ]
    }

    withName: 'FASTP' {
        ext.args = { [
            params.fastp_adapter_fasta                      ? "--adapter_fasta ${params.adapter_sequence}"                            : '',  // default to automatic detection
            params.fastp_adapter_sequence                   ? "--adapter_sequence ${params.fastp_adapter_sequence}"                   : '',  // default to automatic detection
            params.fastp_adapter_sequence_r2                ? "--adapter_sequence_r2 ${params.fastp_adapter_sequence_r2}"             : '',  // default to automatic detection
            params.fastp_overrepresentation                 ? "--overrepresentation_analysis"                                         : '',  // enable overrepresented sequence analysis, default enabled
            params.fastp_trim_poly_g                        ? "--trim_poly_g"                                                         : '',  // enable polyG tail trimming
            params.fastp_qualified_quality_phred   != null  ? "--qualified_quality_phred ${params.fastp_qualified_quality_phred}"     : '',  // the quality value that a base is qualified. Default 15 means phred quality >=Q15 is qualified. (int [=15])
            params.fastp_unqualified_percent_limit != null  ? "--unqualified_percent_limit ${params.fastp_unqualified_percent_limit}" : '',  // how many percents of bases are allowed to be unqualified (0~100). Default 40 means 40% (int [=40])
            params.fastp_length_required           != null  ? "--length_required ${params.fastp_length_required}"                     : '',  // reads shorter than length_required will be discarded, default is 15. (int [=15])
            params.fastp_cut_front                          ? "--cut_front"                                                           : '',  // move a sliding window from front (5') to tail, drop the bases in the window if its mean quality is below cut_mean_quality, stop otherwise
            params.fastp_cut_tail                           ? "--cut_tail"                                                            : '',  // move a sliding window from tail (3') to front, drop the bases in the window if its mean quality is below cut_mean_quality, stop otherwise.
            params.fastp_cut_right                          ? "--cut_right"                                                           : '',  // move a sliding window from front to tail, if meet one window with mean quality < threshold, drop the bases in the window and the right part, and then stop.
            params.fastp_extra_args                         ?: ''    // TODO: see extra_args caveats https://github.com/nf-core/rnaseq/issues/1257
        ].join(' ').trim() }    // note: this is the syntax used by most nf-core modules, even though the website recommends `].minus("").join(' ') }`
        publishDir = [
                    [
                        path: { "${params.outdir}/fastp/report/" },
                        mode: params.publish_dir_mode,
                        pattern: "*.{html,json}"
                    ],
                    [
                        path: { "${params.outdir}/fastp/log/" },
                        mode: params.publish_dir_mode,
                        pattern: "*.{log}"
                    ],
                    [
                        path: { "${params.outdir}/fastp/fastq/" },
                        mode: params.publish_dir_mode,
                        pattern: "*.fastq.gz",
                        enabled: params.fastp_save_trimmed || params.fastp_save_merged || params.fastp_save_trimmed_fail
                    ]
                ]
    }

    withName: 'FASTQSCREEN_BUILDFROMINDEX' {
        publishDir = [
            path: { "${params.outdir}/fastqscreen/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.fastqscreen_save_index
        ]
    }

    withName: 'FASTQSCREEN_FASTQSCREEN' {
        publishDir = [
            path: { "${params.outdir}/fastqscreen/" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt,html}",
        ]
    }

    //
    // Host read filtering
    //

    withName: 'BBMAP_BBSPLIT_INDEXER' {
        ext.args   = 'build=1'
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/hostremoval/bbsplit/index" },
                pattern: '*.log',
                saveAs: { 'bbsplit_index.log' },
            ],
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/hostremoval/bbsplit/index" },
                saveAs: { filename -> filename.equals('bbsplit_index') ? filename : null },
                enabled: params.hostremoval_save_index
            ]
        ]
    }

    withName: 'BBMAP_BBSPLIT_MAPPER' {
        ext.args   = "build=1 ambiguous2=${params.hostremoval_bbsplit_ambiguous2} maxindel=16000"
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/bbsplit/log/" },
                mode: params.publish_dir_mode,
                pattern: '*.txt'
            ],
            [
                path: { "${params.outdir}/preprocessing/bbsplit/" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                enabled: params.hostremoval_save_filtered
            ]
        ]
    }

    withName: 'DEACON_INDEX' {
        publishDir = [
            path: { "${params.outdir}/hostremoval/deacon/index/" },
            mode: params.publish_dir_mode,
            pattern: { "${params.hostremoval_deacon_diff}" ? "*.diff.idx" : "*.idx" },
            enabled: params.hostremoval_save_index
        ]
    }

    withName: 'DEACON_INDEX_DIFF' {
        publishDir = [
            path: { "${params.outdir}/hostremoval/deacon/index/" },
            mode: params.publish_dir_mode,
            pattern: "*.idx",
            enabled: params.hostremoval_save_index
        ]
    }

    withName: 'DEACON_FILTER' {
        ext.args   = params.hostremoval_deacon_abs_threshold != null ? "--abs-threshold ${params.hostremoval_deacon_abs_threshold}" : ''
        publishDir = [
            [
                path: { "${params.outdir}/hostremoval/deacon/filter/log" },
                mode: params.publish_dir_mode,
                pattern: "*.json",
            ],
            [
                path: { "${params.outdir}/hostremoval/deacon/filter/fastq" },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                enabled: params.hostremoval_save_filtered
            ]
        ]
    }

    // Seqkit sort
    withName:SEQKIT_SORT {
        cpus = 4
        memory = { 16.GB * task.attempt }
        publishDir = [
            enabled: false
        ]
    }

    //
    // Alignment
    //

    withName: 'BWA_INDEX' {
        publishDir       = [
            path: { "${params.outdir}/reference/bwa/index/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_index || params.only_index_reference
        ]
    }

    withName: 'BWA_INDEX_FASTQSCREEN' {
        publishDir       = [
            path: { "${params.outdir}/reference/bwa/index_fastqscreen/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_index
        ]
    }

    withName: 'BWA_MEM' {
        ext.args = { "-Y -K 100000000 -R ${meta.read_group}" }
        publishDir       = [
            path: { "${params.outdir}/alignment/bwa/bam_initial" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,bai}",
            enabled: params.save_bam_initial
        ]
    }

    withName: 'GATK4_MARKDUPLICATES' {
        ext.prefix = { "${meta.id}.markdup.bam" }
        ext.args = { [
            '--ASSUME_SORT_ORDER coordinate',
            // '--VALIDATION_STRINGENCY LENIENT'    // not required if read group creation does not introduce empty fields
        ].join(' ').trim() }
        publishDir       = [
            [
                path: { "${params.outdir}/alignment/picard/metrics" },
                mode: params.publish_dir_mode,
                pattern: "*.metrics",
            ]
        ]
    }

    withName: 'SAMTOOLS_SORT_MARKDUP' {
        ext.prefix = { "${meta.id}.sort.markdup" }
        publishDir = [
            [
                path: { "${params.outdir}/alignment/bwa/bam_sort_markdup" },
                mode: params.publish_dir_mode,
                pattern: "*.{bam,bai}",
                enabled: params.save_bam_final
            ]
        ]
    }

    withName: 'SAMTOOLS_(STATS|FLAGSTAT|IDXSTATS)' {
        publishDir = [
            path: { "${params.outdir}/alignment/samtools/stats" },
            mode: params.publish_dir_mode,
            // pattern: "*.{stats,flagstat}",
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null },
        ]
    }

    withName: 'MOSDEPTH' {
        publishDir = [
            path: { "${params.outdir}/alignment/mossdepth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null },
        ]
    }

    //
    // Creating intervals and dictionaries for scatter-gather / per-region operations
    //

    withName: 'GATK4_CREATESEQUENCEDICTIONARY|GATK4_BEDTOINTERVALLIST' {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null },
            enabled: true,
        ]
    }

    withName: 'GATK4_INTERVALLISTTOOLS' {
        ext.args = { [
            '--ACTION CONCAT',
            params.scatter_count ? "--SCATTER_COUNT ${params.scatter_count}" : '',
            // TODO: use default number? Per species setting? Also decide whether paramater controls enabling of function entirely or only this setting. Should be disabled when custom interval list (not bed file) is provided.
            '--SUBDIVISION_MODE BALANCING_WITHOUT_INTERVAL_SUBDIVISION_WITH_OVERFLOW',  // ensures no contig is split across files
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/reference/gatk-intervals" },
                pattern: "**/*.interval_list",
                saveAs: { filename -> "${meta.id}_split/${filename.tokenize('/').last()}" },
                mode: params.publish_dir_mode,
                enabled: params.save_interval_scatter,
            ]
        ]
    }

    // Alternative option to create scattered interval lists
    withName: 'BIN_INTERVALS' {
        ext.args = { [
            '--orphan-fraction .2',
            '--sort-mode genomic',
        ].join(' ').trim() }
        publishDir = [
            [
                path: { "${params.outdir}/reference/gatk/intervals-bin" },
                mode: params.publish_dir_mode,
                enabled: true,
            ]
        ]
    }

    //
    // Base quality score recalibration (BQSR)
    //

    withName: 'GATK4_BASERECALIBRATOR' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/gatk/bqsr/tables"},
            pattern: "*.table"
        ]
    }

    withName: 'GATK4_GATHERBQSRREPORTS' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/gatk/bqsr/tables/gathered"},
            pattern: "*.table"
        ]
    }

    withName: 'GATK4_APPLYBQSR' {
        ext.suffix = "bam"
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/gatk/bqsr/recalibrated"},
            pattern: "*.bam"
        ]
    }

    //
    // Variant calling
    //

    withName: 'GATK4_HAPLOTYPECALLER' {
        // arguments were based on MalariaGEN (2025). Supplementary data to: Pf8: an open dataset of Plasmodium falciparum genome variation in 33,325 worldwide samples. figshare.
        // https://doi.org/10.6084/m9.figshare.29153447.v1
        // > The Smith-Waterman parameters were chosen to prefer SNPs over indels for haplotypes that can be resolved as SNPs alone or as a combination of SNPs and indels.
        // > This  HaplotypeCaller command specifies the maximum number of alternate alleles as 6, sample  ploidy as 2, SNP heterozygosity to 1e-3, and indel heterozygosity to 1.25e-4.
        ext.args = { [
            '--emit-ref-confidence GVCF',
            '--contamination-fraction-to-filter 0.0',
            '--smith-waterman-dangling-end-match-value 25',
            '--smith-waterman-dangling-end-mismatch-penalty -50',
            '--smith-waterman-dangling-end-gap-open-penalty -110',
            '--smith-waterman-dangling-end-gap-extend-penalty -6',
            '--smith-waterman-haplotype-to-reference-match-value 25',
            '--smith-waterman-haplotype-to-reference-mismatch-penalty -50',
            '--smith-waterman-haplotype-to-reference-gap-open-penalty -110',
            '--smith-waterman-haplotype-to-reference-gap-extend-penalty -6',
            '--smith-waterman-read-to-haplotype-match-value 10',
            '--smith-waterman-read-to-haplotype-mismatch-penalty -15',
            '--smith-waterman-read-to-haplotype-gap-open-penalty -30',
            '--smith-waterman-read-to-haplotype-gap-extend-penalty -5'
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/gatk/haplotypecaller" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,tbi}",
            saveAs: { filename ->
                filename.endsWith('.vcf.gz') ? "gvcfs/${meta.id}.g.vcf.gz" :
                filename.endsWith('.tbi')    ? "gvcfs/${meta.id}.g.vcf.gz.tbi" :
                null
            },
            enabled: params.save_intermediate_gvcf,
        ]
    }

    withName: 'GATK4_GENOMICSDBIMPORT' {
        ext.args = { [
            '--genomicsdb-shared-posixfs-optimizations true',
            // params.genomicsdb_partitions ? "--merge-contigs-into-num-partitions ${params.genomicsdb_partitions}" : '',
            // TODO: set to specific value for different references - https://gatk.broadinstitute.org/hc/en-us/articles/360056138571-GenomicsDBImport-usage-and-performance-guidelines
            // '--batch-size 50',
            // '--tmp-dir $TMPDIR',
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/gatk/genomicsdb" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { _filename -> "${meta.id}" },
            enabled: params.save_genomicsdb,
        ]
    }

    withName: 'GATK4_GENOTYPEGVCFS' {
        publishDir = [
            path: { "${params.outdir}/gatk/genotypegvcfs" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,tbi}",
            saveAs: { filename ->
                filename.endsWith('.vcf.gz') ? "${meta.id}/${meta.interval_name}.vcf.gz" :
                filename.endsWith('.tbi')    ? "${meta.id}/${meta.interval_name}.vcf.gz.tbi" :
                null
            },
            enabled: params.save_intermediate_vcf,
        ]
    }

    withName: 'GATK4_MERGEVCFS' {
        publishDir = [
            path: { "${params.outdir}/gatk/merged" },
            mode: params.publish_dir_mode,
            pattern: "*.vcf.gz"
        ]
    }

    //
    // Variant filtering - hard
    //

    withName: 'SELECT_SNP' {
        ext.args = '--select-type-to-include SNP'
        ext.prefix = { "${meta.id}.snp" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_hard" },
                mode: params.publish_dir_mode,
                enabled: false,
            ]
        ]
    }

    withName: 'SELECT_INDEL' {
        ext.args = '--select-type-to-include INDEL'
        ext.prefix = { "${meta.id}.indel" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_hard" },
                mode: params.publish_dir_mode,
                enabled: false,
            ]
        ]
    }

    withName: 'FILTER_SNP' {
        ext.args   = { [
            params.vcf_filter_snp_QD_filter             ? "--filter-expression '${params.vcf_filter_snp_QD_filter}'" : '',
            params.vcf_filter_snp_QD_name               ? "--filter-name '${params.vcf_filter_snp_QD_name}'" : '',

            params.vcf_filter_snp_QUAL_filter           ? "--filter-expression '${params.vcf_filter_snp_QUAL_filter}'" : '',
            params.vcf_filter_snp_QUAL_name             ? "--filter-name '${params.vcf_filter_snp_QUAL_name}'" : '',

            params.vcf_filter_snp_FS_filter             ? "--filter-expression '${params.vcf_filter_snp_FS_filter}'" : '',
            params.vcf_filter_snp_FS_name               ? "--filter-name '${params.vcf_filter_snp_FS_name}'" : '',

            params.vcf_filter_snp_ReadPosRankSum_filter ? "--filter-expression '${params.vcf_filter_snp_ReadPosRankSum_filter}'" : '',
            params.vcf_filter_snp_ReadPosRankSum_name   ? "--filter-name '${params.vcf_filter_snp_ReadPosRankSum_name}'" : '',

            params.vcf_filter_snp_SOR_filter            ? "--filter-expression '${params.vcf_filter_snp_SOR_filter}'" : '',
            params.vcf_filter_snp_SOR_name              ? "--filter-name '${params.vcf_filter_snp_SOR_name}'" : '',

            params.vcf_filter_snp_MQ_filter             ? "--filter-expression '${params.vcf_filter_snp_MQ_filter}'" : '',
            params.vcf_filter_snp_MQ_name               ? "--filter-name '${params.vcf_filter_snp_MQ_name}'" : '',

            params.vcf_filter_snp_MQRankSum_filter      ? "--filter-expression '${params.vcf_filter_snp_MQRankSum_filter}'" : '',
            params.vcf_filter_snp_MQRankSum_name        ? "--filter-name '${params.vcf_filter_snp_MQRankSum_name}'" : ''
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}.snp.filter_added" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_hard/filter_added/snp" },
                mode: params.publish_dir_mode,
                enabled: false,
            ]
        ]
    }

    withName: 'FILTER_INDEL' {
        ext.args = { [
            params.vcf_filter_indel_QD_filter              ? "--filter-expression '${params.vcf_filter_indel_QD_filter}'" : '',
            params.vcf_filter_indel_QD_name                ? "--filter-name '${params.vcf_filter_indel_QD_name}'" : '',

            params.vcf_filter_indel_QUAL_filter            ? "--filter-expression '${params.vcf_filter_indel_QUAL_filter}'" : '',
            params.vcf_filter_indel_QUAL_name              ? "--filter-name '${params.vcf_filter_indel_QUAL_name}'" : '',

            params.vcf_filter_indel_FS_filter              ? "--filter-expression '${params.vcf_filter_indel_FS_filter}'" : '',
            params.vcf_filter_indel_FS_name                ? "--filter-name '${params.vcf_filter_indel_FS_name}'" : '',

            params.vcf_filter_indel_ReadPosRankSum_filter  ? "--filter-expression '${params.vcf_filter_indel_ReadPosRankSum_filter}'" : '',
            params.vcf_filter_indel_ReadPosRankSum_name    ? "--filter-name '${params.vcf_filter_indel_ReadPosRankSum_name}'" : '',

            params.vcf_filter_indel_SOR_filter             ? "--filter-expression '${params.vcf_filter_indel_SOR_filter}'" : '',
            params.vcf_filter_indel_SOR_name               ? "--filter-name '${params.vcf_filter_indel_SOR_name}'" : '',

            params.vcf_filter_indel_InbreedingCoeff_filter ? "--filter-expression '${params.vcf_filter_indel_InbreedingCoeff_filter}'" : '',
            params.vcf_filter_indel_InbreedingCoeff_name   ? "--filter-name '${params.vcf_filter_indel_InbreedingCoeff_name}'" : ''
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}.indel.filter_added" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_hard/filter_added/indel" },
                mode: params.publish_dir_mode,
                enabled: false,
            ]
        ]
    }

    withName: 'EXCLUDE_FILTERED_SNP' {
        ext.args   = '--exclude-filtered true'
        ext.prefix = { "${meta.id}.snp.filtered" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_hard/filtered/snp" },
                mode: params.publish_dir_mode,
                enabled: false,
            ]
        ]
    }

    withName: 'EXCLUDE_FILTERED_INDEL' {
        ext.args   = '--exclude-filtered true'
        ext.prefix = { "${meta.id}.indel.filtered" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_hard/filtered/indel/" },
                mode: params.publish_dir_mode,
                enabled: false,
            ]
        ]
    }

    withName: 'CONCAT_VCFS_SNP_INDEL_FILTER_ADDED' {
        ext.prefix = { "${meta.id}.filter_added" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_hard/filter_added/concat" },
                mode: params.publish_dir_mode,
                enabled: true,
            ]
        ]
    }

    withName: 'CONCAT_VCFS_SNP_INDEL_FILTERED' {
        ext.prefix = { "${meta.id}.filtered" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_hard/filtered/concat" },
                mode: params.publish_dir_mode,
                enabled: true,
            ]
        ]
    }

    withName: 'GATHER_VCFS_BY_INTERVAL_FILTER_ADDED' {
        ext.prefix = { "${meta.id}.filter_added" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_hard/filter_added/" },
                mode: params.publish_dir_mode,
                enabled: true,
            ]
        ]
    }

    withName: 'GATHER_VCFS_BY_INTERVAL_FILTERED' {
        ext.prefix = { "${meta.id}.filtered" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_hard/filtered/" },
                mode: params.publish_dir_mode,
                enabled: true,
            ]
        ]
    }

    //
    // Variant filtering - VQSR

    withName: 'GATHER_VCFS_BEFORE_VQSR' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_vqsr/gathered_before_vqsr/" },
                mode: params.publish_dir_mode,
                enabled: false,
            ]
        ]
    }
    withName: 'GATK4_VARIANTRECALIBRATOR_SNP' {
        ext.args = { [
            params.vqsr_snp_max_gaussians ? "--max-gaussians ${params.vqsr_snp_max_gaussians}" : '',    // GATK defaults to 8
            params.vqsr_snp_annotations ? "${params.vqsr_snp_annotations}" : '',
            params.vqsr_snp_tranches    ? "${params.vqsr_snp_tranches}" : '',
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}_snp" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_vqsr/model" },
                mode: params.publish_dir_mode,
                enabled: true,
            ]
        ]
    }

    withName: 'GATK4_VARIANTRECALIBRATOR_INDEL' {
        ext.args = { [
            params.vqsr_indel_max_gaussians ? "--max-gaussians ${params.vqsr_indel_max_gaussians}" : '',    // GATK defaults to 8
            params.vqsr_indel_annotations ? "${params.vqsr_indel_annotations}" : '',
            params.vqsr_indel_tranches    ? "${params.vqsr_indel_tranches}" : '',
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}_indel" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_vqsr/model" },
                mode: params.publish_dir_mode,
                enabled: true,
            ]
        ]
    }

    withName: 'GATK4_APPLYVQSR_SNP' {
        ext.args = { [
            '-mode SNP',
            params.vqsr_snp_truth_sensitivity_filter_level ? "--truth-sensitivity-filter-level ${params.vqsr_snp_truth_sensitivity_filter_level}" : '',
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}.recalibrated.snp_only" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_vqsr/filter_added/" },
                mode: params.publish_dir_mode,
                enabled: false,
            ]
        ]
    }

    withName: 'GATK4_APPLYVQSR_INDEL' {
        ext.args = { [
            '-mode INDEL',
            params.vqsr_indel_truth_sensitivity_filter_level ? "--truth-sensitivity-filter-level ${params.vqsr_indel_truth_sensitivity_filter_level}" : '',
        ].join(' ').trim() }
        ext.prefix = { "${meta.id}.recalibrated" }
        publishDir = [
            [
                path: { "${params.outdir}/gatk/filter_vqsr/filter_added/" },
                mode: params.publish_dir_mode,
                enabled: true,
            ]
        ]
    }
    //
    // Variant annotation
    //

    withName: 'SNPEFF_BUILD' {
        // ext.args = '-noCheckProtein' // snpEff build module will now add the noCheck options automatically when cds.fa/protein.fa files are not provided
        publishDir = [
            path: { "${params.outdir}/snpEff" },
            mode: params.publish_dir_mode,
            enabled: params.save_snpeff_db,
        ]
    }

    withName: 'SNPEFF_ANNOTATE' {
        publishDir = [
            path: { "${params.outdir}/snpEff" },
            mode: params.publish_dir_mode,
        ]
    }
}
