/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

// TODO: list everything under a single process directive or split into sections for readability (rnaseq) or different files (sarek) for readability?

// TODO: add conditional statements for optional processes/exclusive options

// TODO: use ext.when instead of conditionals?

// TODO: check missing CUSTOM_DUMPSOFTWAREVERSIONS

// TODO: bbsplit args: https://github.com/nf-core/rnaseq/blob/master/conf/modules.config#L303

// TODO: store all reports/logs in a single folder, subdir for tool, subdir for sample, e.g.
// "${params.outdir}/reports/fastp/${meta.sample}"

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FASTP' {
        ext.when = { !params.skip_trimming }
        // TODO: decide if options should be hard-coded here or set as params with default values in nextflow.config
        ext.args = {
            [
                params.fastp_qualified_quality_phred   ? "--qualified_quality_phred ${params.fastp_qualified_quality_phred}"     : '',  // the quality value that a base is qualified. Default 15 means phred quality >=Q15 is qualified. (int [=15])
                params.fastp_unqualified_percent_limit ? "--unqualified_percent_limit ${params.fastp_unqualified_percent_limit}" : '',  // how many percents of bases are allowed to be unqualified (0~100). Default 40 means 40% (int [=40])
                params.fastp_length_required           ? "--length_required ${params.fastp_length_required}"                     : '',  // reads shorter than length_required will be discarded, default is 15. (int [=15])
                params.fastp_cut_front                 ? "--cut_front"                                                           : '',  // move a sliding window from front (5') to tail, drop the bases in the window if its mean quality is below cut_mean_quality, stop otherwise
                params.fastp_cut_tail                  ? "--cut_tail"                                                            : '',  // move a sliding window from tail (3') to front, drop the bases in the window if its mean quality is below cut_mean_quality, stop otherwise.
                params.fastp_disable_adapter_trimming  ? "--disable_adapter_trimming"                                            : '',  // disable adapter trimming
                params.fastp_trim_poly_g               ? "--trim_poly_g"                                                         : '--disable_trim_poly_g ',  // enable polyG tail trimming
                // TODO: check how to use extra_args option, cf. https://github.com/nf-core/rnaseq/issues/1257
                // note that there are different variants in use within rnaseq workflow
                params.fastp_extra_args                ?: ''
            ].join(' ').trim()
        }
        publishDir = [
                    [
                        path: { "${params.outdir}/preprocessing/fastp/report/" },
                        mode: params.publish_dir_mode,
                        pattern: "*.{html,json}"
                    ],
                    [
                        path: { "${params.outdir}/preprocessing/fastp/log/" },
                        mode: params.publish_dir_mode,
                        pattern: "*.{log}"
                    ],
                    // [
                    //     path: { "${params.outdir}/preprocessing/fastp/fail/" },
                    //     mode: params.publish_dir_mode,
                    //     pattern: "*.fail.fastq.gz",
                    //     enabled: params.fastp_save_trimmed_fail,
                    // ],
                    // [
                    //     path: { "${params.outdir}/preprocessing/fastp/merged/" },
                    //     mode: params.publish_dir_mode,
                    //     pattern: "*.merged.fastq.gz",
                    //     enabled: params.fastp_save_merged,
                    // ],
                    // TODO: FIX THIS
                    [
                        path: { "${params.outdir}/preprocessing/fastp/" },
                        mode: params.publish_dir_mode,
                        pattern: "*.fastq.gz",
                        enabled: params.fastp_save_trimmed || params.fastp_save_merged || params.fastp_save_trimmed_fail
                    ]
                ]
    }

    // TODO: add bbsplit file publishing
    // TODO: check why files are published regardless of these entries being here? and also in separate folders?
    // TODO: publishdir for reference and index also has two identical log files named null if no pattern is used for the first publishdir item
    // TODO: **/*.{} pattern does not work for bbsplit output
    // TODO: bbsplit indexer seems to proceed regardless if provided fasta files are valid

    // bbsplit indexing
    withName: 'BBMAP_BBSPLIT_INDEXER' {
        ext.when = { params.hostremoval_method == "bbsplit" && !params.skip_hostremoval }
        ext.args   = 'build=1'
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/reference/bbsplit/index" },
                saveAs: { filename -> (filename != 'versions.yml' && (params.save_reference || params.only_build_reference) ) ? filename : null },
                // pattern: "**.{block,gz,txt,fa,chrom}",
                enabled: (params.save_reference || params.only_build_reference)
            ],
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/reference/bbsplit/log" },
                pattern: '*.log',
                saveAs: { filename -> 'bbsplit_index.log' },
                enabled: (params.save_reference || params.only_build_reference)
            ]
        ]
    }

    // bbsplit filtering
    withName: 'BBMAP_BBSPLIT_MAPPER' {
        // ext.when = { params.hostremoval_method == "bbsplit" && !params.skip_hostremoval }
        ext.args   = "build=1 ambiguous2=${params.hostremoval_bbsplit_ambiguous2} maxindel=16000"
        publishDir = [
            [
                path: { "${params.outdir}/preprocessing/bbsplit/log/" },
                mode: params.publish_dir_mode,
                pattern: '*.txt'
            ],
            [
                path: { "${params.outdir}/preprocessing/bbsplit/" },
                mode: params.publish_dir_mode,
                pattern: '*.fastq.gz',
                enabled: params.hostremoval_save_filtered
            ]
        ]
    }

    // deacon index
    withName: 'DEACON_INDEX' {

        // disable ext.when => execution control should happen at workflow level logic
    //     ext.when   = { !params.hostremoval_deacon_index && hostremoval_method == "deacon" && !params.skip_hostremoval }
        // publish logic should be defined here in the config,
        // via enabled
        // saveAs might not be required, since emit: versions can take care of it
        publishDir = [
            path: { "${params.outdir}/hostremoval/deacon/index/" },
            mode: params.publish_dir_mode,
            pattern: "*.idx",
            enabled: params.hostremoval_save_index
        ]
    }

    withName: 'DEACON_INDEX_DIFF' {

        publishDir = [
            path: { "${params.outdir}/hostremoval/deacon/index/" },
            mode: params.publish_dir_mode,
            pattern: "*.idx",
            enabled: params.hostremoval_save_index
        ]
    }

    // deacon filter
    withName: 'DEACON_FILTER' {
        publishDir = [
            [
                path: { "${params.outdir}/hostremoval/deacon/filter/log" },
                mode: params.publish_dir_mode,
                pattern: "*.json",
            ],
            [
                path: { "${params.outdir}/hostremoval/deacon/filter/fastq" },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                enabled: params.hostremoval_save_filtered
            ]
        ]
    }

    // bwa index
    withName: 'BWA_INDEX' {
        publishDir       = [
            path: { "${params.outdir}/reference/bwa/index/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml' && (params.save_reference || params.only_build_reference) ) ? filename : null },
            enabled: params.save_reference || params.only_build_reference
        ]
    }

    // bwa alignment
    withName: 'BWA_MEM' {
        ext.args = { "-Y -K 100000000 -R ${meta.read_group}" }
        publishDir       = [
            path: { "${params.outdir}/alignment/bwa/bam" },
            mode: params.publish_dir_mode,
            pattern: "*.bam",
            enabled: params.save_bam
        ]
    }

    // Picard MarkDuplicates
    withName: 'GATK4_MARKDUPLICATES' {
        ext.prefix = { "${meta.id}.markdup.bam" }
        ext.args = [
            '--ASSUME_SORT_ORDER coordinate',
            // '--VALIDATION_STRINGENCY LENIENT'    // not required if read group creation does not introduce empty fields
        ].join(' ').trim()
        publishDir       = [
            [
                path: { "${params.outdir}/alignment/picard/metrics" },
                mode: params.publish_dir_mode,
                pattern: "*.metrics",
            ]
        ]
    }

    // // Picard MarkDuplicates
    // withName: 'PICARD_MARKDUPLICATES' {
    //     ext.prefix = { "${meta.id}.markdup" }
    //     ext.args = [
    //         '--ASSUME_SORT_ORDER coordinate',
    //         '--VALIDATION_STRINGENCY LENIENT'    // not required if read group creation does not introduce empty fields
    //     ].join(' ').trim()
    //     publishDir       = [
    //         [
    //             path: { "${params.outdir}/alignment/picard/bam" },
    //             mode: params.publish_dir_mode,
    //             pattern: "*.bam",
    //             enabled: params.save_bam
    //         ],
    //         [
    //             path: { "${params.outdir}/alignment/picard/metrics" },
    //             mode: params.publish_dir_mode,
    //             pattern: "*.metrics.txt",
    //         ]
    //     ]
    // }

    // samtools faidx/index
    withName: 'SAMTOOLS_FAIDX|SAMTOOLS_INDEX' {
        publishDir = [
            enabled: false
        ]
    }

    // samtools sort after markduplicates
    withName: 'SAMTOOLS_SORT_MARKDUP' {
        ext.prefix = { "${meta.id}.sort.markdup" }
        publishDir = [
            [
                path: { "${params.outdir}/alignment/samtools/bam" },
                mode: params.publish_dir_mode,
                pattern: "*.{bam,bai}",
                enabled: params.save_bam_final
            ]
        ]
    }

    // samtools stats/flagstat/idxstat
    withName: 'SAMTOOLS_(STATS|FLAGSTAT|IDXSTATS)' {
        publishDir = [
            path: { "${params.outdir}/alignment/samtools/stats" },
            mode: params.publish_dir_mode,
            // pattern: "*.{stats,flagstat}",
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null },
        ]
    }

    // awk (uses samtools container)
    withName: 'CREATE_INTERVALS_BED' {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null },
            enabled: params.save_reference,
        ]
    }

    // mosdepth
    withName: 'MOSDEPTH' {
        publishDir = [
            path: { "${params.outdir}/alignment/mossdepth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null },
        ]
    }

    // GATK
    withName: 'GATK4_CREATESEQUENCEDICTIONARY|GATK4_BEDTOINTERVALLIST' {
        publishDir = [
            path: { "${params.outdir}/reference/gatk" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename != 'versions.yml') ? filename : null },
            enabled: params.save_reference,
        ]
    }

    withName: 'GATK4_INTERVALLISTTOOLS' {
        ext.args = [
            '--ACTION CONCAT',
            params.scatter_count ? "--SCATTER_COUNT ${params.scatter_count}" : '',  // TODO: use default number? Per species setting? Also decide whether paramater controls enabling of function entirely or only this setting. Should be disabled when custom interval list (not bed file) is provided.
            '--SUBDIVISION_MODE BALANCING_WITHOUT_INTERVAL_SUBDIVISION_WITH_OVERFLOW',  // ensures no contig is split across files
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/reference/gatk/intervals" },
                pattern: "**/*.interval_list",
                mode: params.publish_dir_mode,
                enabled: params.save_reference,
            ]
        ]
    }

    withName: 'BIN_INTERVALS' {
        ext.args = [
            '--orphan-fraction .2',
            '--sort-mode genomic',
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/reference/gatk/intervals-bin" },
                enabled: params.save_reference,
                mode: params.publish_dir_mode,
            ]
        ]
    }

    withName: 'GATK4_HAPLOTYPECALLER' {
        ext.args = { [
            '--emit-ref-confidence GVCF',
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/gatk/haplotypecaller" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,tbi}",
            saveAs: { filename ->
                filename.endsWith('.vcf.gz') ? "gvcfs/${meta.id}/${meta.interval_name}.g.vcf.gz" :
                filename.endsWith('.tbi')    ? "gvcfs/${meta.id}/${meta.interval_name}.g.vcf.gz.tbi" :
                null
            },
            enabled: params.save_intermediate_gvcf,
        ]
    }

    withName: 'GATK4_GENOMICSDBIMPORT' {
        ext.args = { [
            '--genomicsdb-shared-posixfs-optimizations true',
            // params.genomicsdb_partitions ? "--merge-contigs-into-num-partitions ${params.genomicsdb_partitions}" : '',  // TODO: set to specific value for different references - https://gatk.broadinstitute.org/hc/en-us/articles/360056138571-GenomicsDBImport-usage-and-performance-guidelines
            // '--batch-size 50',
            // '--tmp-dir $TMPDIR',
        ].join(' ').trim() }
        publishDir = [
            path: { "${params.outdir}/gatk/genomicsdb" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { _filename -> "${meta.id}" },
            enabled: params.save_genomicsdb,
        ]
    }

    withName: 'GATK4_GENOTYPEGVCFS' {
        publishDir = [
            path: { "${params.outdir}/gatk/genotypegvcfs" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,tbi}",
            saveAs: { filename ->
                filename.endsWith('.vcf.gz') ? "${meta.id}/${meta.interval_name}.vcf.gz" :
                filename.endsWith('.tbi')    ? "${meta.id}/${meta.interval_name}.vcf.gz.tbi" :
                null
            },
            enabled: params.save_intermediate_vcf,
        ]
    }

    withName: 'GATK4_MERGEVCFS' {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/gatk/merged" },
            mode: params.publish_dir_mode,
            pattern: "*.vcf.gz"
        ]
    }

    withName: 'TABIX_TABIX' {
        publishDir = [
            path: { "${params.outdir}/gatk/merged" },
            mode: params.publish_dir_mode,
            pattern: "*.tbi"
        ]
    }
}

// TODO: disable ext.when everywhere?
